@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Faustina:ital,wght@1,300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif&family=Playfair+Display&family=Poppins:wght@500&family=Roboto:wght@300;400&display=swap");

* {

  .lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 0px 10px 0px 10px;
  }

  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

#main_page_body_id {
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */
}
.main_page_header_class {
  /* border: 1px solid green; */
  margin: 0px;
  padding: 0px;
}
.main_page_header_nav_class {
  /* border: 1px solid green; */
  padding: 10px 15px 0px 15px;
  display: flex;
}
.main_header_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 70%;
}
.main_header_menu_option {
  margin: 12px;
  text-decoration: none;
  color: black;
}

#green_header {
  color: rgb(85, 211, 85);
}
#home_menu
{
  text-decoration: underline;
}

/* 100%organic section */
#Organic_header {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  border: none;
}

.mainpage_body_type_veg_div {
  text-align: center;
  padding: 10%;
  background-image: url("images/oraganic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
#organic_head__para {
  color: rgb(175, 175, 174);
  font-size: small;
}
#organic_more_btn {
  padding: 12px;
  border-radius: 25px;
  background-color: transparent;
  color: white;
}
#organism_redirect_anchor {
  text-decoration: none;
  color: whitesmoke;
}
#organic_more_btn:hover {
  box-shadow: -8px -7px 28px -8px rgba(248, 245, 245, 0.75);
  background-color: rgb(144, 189, 76);
}
#organism_redirect_anchor:hover {
  color: black;
}

/* main body div */
#main_body_of_main_page_id {
  /* border: 1px solid green; */
  padding: 20%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(219, 216, 216);
  padding-bottom: 10px;
}
.main_body_of_main_page_class {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 20px;
}
.vegies_option_class {
  /* border: 1px solid black; */
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background-color: white;
}
#main_draggen_id {
  background-image: url("images/draggen\ fruite.png");
}
#brahmi_leav_id {
  background-image: url("images/brahmi-leaves.png");
}
#carror_main_id {
  background-image: url("images/carrot.png");
}
#shimla_main_id {
  background-image: url("images/shimla.png");
}
#kakdi_main_id {
  background-image: url("images/kakdii.png");
}
#palak_main_id {
  background-image: url("images/palak.png");
}
#main_draggen_id,
#brahmi_leav_id,
#carror_main_id,
#shimla_main_id,
#kakdi_main_id,
#palak_main_id {
  padding: 100px;
  box-shadow: -9px 10px 5px -7px gray;
  background-repeat: no-repeat;
  background-size: cover;
}
main > div > div > p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
main > div > div > button {
  background-color: rgb(140, 231, 21);
  border: none;
  width: 80px;
  border-radius: 12px;
  padding: 3px;
}
main > div > div > button > a {
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
}
main > div > div > div {
  /* border: 1px solid red; */
  margin: 0px;
}
